body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.entities {
  line-height: 2;
}

[data-entity] {
  padding: 0.25em 0.35em;
   margin: 0px 0.25em;
   line-height: 1;
   display: inline-block;
   border-radius: 0.25em;
   border: 1px solid rgb(255, 230, 0);
   background: rgba(255, 230, 0, 0.2);
}

[data-entity]::after {
  box-sizing: border-box;
  content: attr(data-entity);
  font-size: 0.6em;
  line-height: 1;
  padding: 0.35em;
  border-radius: 0.35em;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 0px 0.1rem 0.5rem;
  background: rgb(255, 230, 0);
}

[data-entity][data-entity="person"] {
  background: rgba(170, 156, 252, 0.2);
  border-color: rgb(170, 156, 252);
}

[data-entity][data-entity="person"]::after {
  background: rgb(170, 156, 252);
}

[data-entity][data-entity="date"] {
  background: rgba(191, 225, 217, 0.2);
  border-color: rgb(191, 225, 217);
}

[data-entity][data-entity="date"]::after {
  background: rgb(191, 225, 217);
}

[data-entity][data-entity="gpe"] {
  background: rgba(210, 231, 17, 0.2);
  border-color: rgb(210, 231, 17);
}

[data-entity][data-entity="gpe"]::after {
  background: rgb(210, 231, 17);
}

[data-entity][data-entity="loc"] {
  background: rgba(67, 198, 252, 0.2);
  border-color: rgb(67, 198, 252);
}

[data-entity][data-entity="loc"]::after {
  background: rgb(67, 198, 252);
}

[data-entity][data-entity="concept"] {
  background: rgba(224, 90, 11, 0.2);
  border-color: rgb(224, 90, 11);
}

[data-entity][data-entity="concept"]::after {
  background: rgb(224, 90, 11);
}

